<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Full Body.SLDASM">
  <link
    name="body">
    <inertial>
      <origin
        xyz="0.17399 -0.0072178 0.011599"
        rpy="0 0 0" />
      <mass
        value="0.19944" />
      <inertia
        ixx="0.00016185"
        ixy="-5.2204E-08"
        ixz="1.0475E-18"
        iyy="0.00054277"
        iyz="5.3474E-18"
        izz="0.00038654" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_shoulder">
    <inertial>
      <origin
        xyz="-0.069531 -0.05822 -0.029382"
        rpy="0 0 0" />
      <mass
        value="0.10612" />
      <inertia
        ixx="6.9045E-05"
        ixy="3.7441E-08"
        ixz="-3.6654E-07"
        iyy="3.437E-05"
        iyz="1.7802E-08"
        izz="8.4534E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.36601 0.030456 0.011371"
      rpy="-1.5708 -0.0034161 1.5708" />
    <parent
      link="body" />
    <child
      link="front_left_shoulder" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_thigh">
    <inertial>
      <origin
        xyz="-0.030997 0.063607 -0.071235"
        rpy="0 0 0" />
      <mass
        value="0.092156" />
      <inertia
        ixx="3.9451E-05"
        ixy="-2.4188E-05"
        ixz="-1.2087E-05"
        iyy="9.4452E-05"
        iyz="3.9038E-06"
        izz="8.3958E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.00862363122624432"
      rpy="-1.95295163559476 0 0" />
    <parent
      link="front_left_shoulder" />
    <child
      link="front_left_thigh" />
    <axis
      xyz="0 0.927863031055594 0.372921165396021" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_left_knee">
    <inertial>
      <origin
        xyz="-0.0494712889569819 0.0239070954154987 -0.108430571081441"
        rpy="0 0 0" />
      <mass
        value="0.0741258107469356" />
      <inertia
        ixx="3.18790252022645E-05"
        ixy="1.97729847666191E-05"
        ixz="1.74972772015769E-05"
        iyy="5.04816804602454E-05"
        iyz="-6.96245148390364E-06"
        izz="5.24239804537086E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_left_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.0117307602622488 0.00606269570371937"
      rpy="-1.09443677842984 0 -3.14159265358979" />
    <parent
      link="front_left_thigh" />
    <child
      link="front_left_knee" />
    <axis
      xyz="0 0.75687276465301 0.65356225267874" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_shoulder">
    <inertial>
      <origin
        xyz="0.025194 0.056428 -0.029382"
        rpy="0 0 0" />
      <mass
        value="0.10612" />
      <inertia
        ixx="6.8976E-05"
        ixy="-1.5483E-06"
        ixz="-3.6697E-07"
        iyy="3.444E-05"
        iyz="-1.7974E-09"
        izz="8.4534E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.36601 -0.061544 0.011371"
      rpy="-1.5708 0.052314 1.5708" />
    <parent
      link="body" />
    <child
      link="front_right_shoulder" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_thigh">
    <inertial>
      <origin
        xyz="0.0637605706827707 -0.00814234205089392 0.0934181530420835"
        rpy="0 0 0" />
      <mass
        value="0.0921564007333959" />
      <inertia
        ixx="4.59241360429781E-05"
        ixy="-3.01320391050131E-05"
        ixz="-1.17608781695421E-05"
        iyy="8.59200793077752E-05"
        iyz="4.27222084087318E-06"
        izz="8.60172093927408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.00738542988082108"
      rpy="-2.05769527388425 0 0" />
    <parent
      link="front_right_shoulder" />
    <child
      link="front_right_thigh" />
    <axis
      xyz="0 0.883788049564914 0.467887468785225" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_knee">
    <inertial>
      <origin
        xyz="0.141993017305764 0.099108301521659 0.0271036200926005"
        rpy="0 0 0" />
      <mass
        value="0.0741256904707244" />
      <inertia
        ixx="2.81491328969834E-05"
        ixy="2.1191560053683E-05"
        ixz="-1.36755674405465E-05"
        iyy="5.07658122982971E-05"
        iyz="4.53396108301155E-06"
        izz="5.58687393116714E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/front_right_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_knee_joint"
    type="revolute">
    <origin
      xyz="0 -0.00652715466956932 -0.00345555009282814"
      rpy="1.12536795037729 0 0" />
    <parent
      link="front_right_thigh" />
    <child
      link="front_right_knee" />
    <axis
      xyz="0 0.803009121747932 -0.595966735975772" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_shoulder">
    <inertial>
      <origin
        xyz="-0.0686209275088679 -0.0591199587315326 0.0231183905956362"
        rpy="0 0 0" />
      <mass
        value="0.106117445820718" />
      <inertia
        ixx="6.90447854085146E-05"
        ixy="3.74414577353296E-08"
        ixz="-3.66537660793294E-07"
        iyy="3.43703994691664E-05"
        iyz="1.78024545548862E-08"
        izz="8.45335274007001E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.018486 0.030456 0.010121"
      rpy="-1.5708 0.0038623 1.5708" />
    <parent
      link="body" />
    <child
      link="back_left_shoulder" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_thigh">
    <inertial>
      <origin
        xyz="-0.0300876967050007 -0.00686730817622022 -0.100530094100525"
        rpy="0 0 0" />
      <mass
        value="0.0921564007333958" />
      <inertia
        ixx="3.94514941041889E-05"
        ixy="-2.41875457608833E-05"
        ixz="-1.20868867168731E-05"
        iyy="9.44515990938333E-05"
        iyz="3.90382054927565E-06"
        izz="8.39583315454717E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0324392736593958"
      rpy="-1.95295163559476 0 0" />
    <parent
      link="back_left_shoulder" />
    <child
      link="back_left_thigh" />
    <axis
      xyz="0 0.927863031055593 0.372921165396022" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_knee">
    <inertial>
      <origin
        xyz="0.0503809805649433 -0.0822480041511203 -0.0460300485488428"
        rpy="0 0 0" />
      <mass
        value="0.0741258082028949" />
      <inertia
        ixx="3.18790426763093E-05"
        ixy="1.97729603917105E-05"
        ixz="-1.74972544914311E-05"
        iyy="5.04816838488345E-05"
        iyz="6.96246018310675E-06"
        izz="5.24239863649634E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_left_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_knee_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.09443677842984 0 0" />
    <parent
      link="back_left_thigh" />
    <child
      link="back_left_knee" />
    <axis
      xyz="0 0.756872764653014 -0.653562252678735" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_shoulder">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.0184860971410226 -0.0615435825424206 0.0101205493494944"
      rpy="-1.5707963267949 0.023596947260394 1.5707963267949" />
    <parent
      link="body" />
    <child
      link="back_right_shoulder" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_thigh">
    <inertial>
      <origin
        xyz="0.0622060869183061 -0.0924934585712353 0.0494630083906624"
        rpy="0 0 0" />
      <mass
        value="0.0921564007333958" />
      <inertia
        ixx="4.57102415963342E-05"
        ixy="-2.95895568953687E-05"
        ixz="-1.29258675329592E-05"
        iyy="8.6895586857789E-05"
        iyz="3.55251085011101E-06"
        izz="8.52555962893705E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.05"
      rpy="-2.05769527388425 0 0" />
    <parent
      link="back_right_shoulder" />
    <child
      link="back_right_thigh" />
    <axis
      xyz="0 0.883788049564913 0.467887468785226" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_knee">
    <inertial>
      <origin
        xyz="0.140584287244983 0.0187984065861515 0.0908830620344914"
        rpy="0 0 0" />
      <mass
        value="0.0741256918228517" />
      <inertia
        ixx="2.80710212971451E-05"
        ixy="2.0579774627756E-05"
        ixz="-1.45402711024904E-05"
        iyy="5.16348840832024E-05"
        iyz="4.8259434774355E-06"
        izz="5.50777724946282E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_knee.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Full Body.SLDASM/meshes/back_right_knee.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_knee_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.12536795037729 0 0" />
    <parent
      link="back_right_thigh" />
    <child
      link="back_right_knee" />
    <axis
      xyz="0 0.803009121747931 -0.595966735975773" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>