<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Harold_URDF_Export">
  <link
    name="Body">
    <inertial>
      <origin
        xyz="0.00050571 3.9206E-05 0.0065559"
        rpy="0 0 0" />
      <mass
        value="0.65516" />
      <inertia
        ixx="0.00044925"
        ixy="-1.5776E-19"
        ixz="5.9638E-06"
        iyy="0.00095612"
        iyz="-8.2942E-21"
        izz="0.0013524" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/Body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fl_shoulder">
    <inertial>
      <origin
        xyz="0.0226268804239232 0.0030897878880634 0.0167231448134229"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.38551705773399E-08"
        ixz="-3.29296835159999E-07"
        iyy="2.60079742804999E-05"
        iyz="7.98874235426913E-07"
        izz="2.03318316394635E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.185 -0.0175 0.04805"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="fl_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fl_thigh">
    <inertial>
      <origin
        xyz="-0.00156528908759812 0.0293750339010572 -0.0302869631953187"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957822" />
      <inertia
        ixx="7.00348282018167E-05"
        ixy="4.3643577382981E-07"
        ixz="3.01230962502562E-06"
        iyy="6.1177847345146E-05"
        iyz="-7.35240616345447E-06"
        izz="2.10701031177544E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_thigh_joint"
    type="revolute">
    <origin
      xyz="0.023 0.0101 0.011125"
      rpy="0 0 0" />
    <parent
      link="fl_shoulder" />
    <child
      link="fl_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fl_calf">
    <inertial>
      <origin
        xyz="0.00237381613529569 0.022686943617349 -0.0344454986164686"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358573"
        ixy="-3.33117687660504E-08"
        ixz="-3.59480722131373E-06"
        iyy="0.000119866124097027"
        iyz="4.24915357894337E-07"
        izz="1.48777935696697E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0025 0.005 -0.10288"
      rpy="0 0 0" />
    <parent
      link="fl_thigh" />
    <child
      link="fl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_shoulder">
    <inertial>
      <origin
        xyz="0.022652843501191 -0.00308978788806342 0.016723144813423"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="-3.38551705773366E-08"
        ixz="-3.2929683516E-07"
        iyy="2.60079742804999E-05"
        iyz="-7.98874235426913E-07"
        izz="2.03318316394634E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.185 -0.0175 -0.04795"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="fr_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_thigh">
    <inertial>
      <origin
        xyz="-0.00156528908759815 -0.0293750339010572 -0.0302869631953187"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018167E-05"
        ixy="-4.36435773829806E-07"
        ixz="3.01230962502558E-06"
        iyy="6.1177847345146E-05"
        iyz="7.35240616345448E-06"
        izz="2.10701031177544E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0232 -0.0101 0.011125"
      rpy="0 0 0" />
    <parent
      link="fr_shoulder" />
    <child
      link="fr_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_calf">
    <inertial>
      <origin
        xyz="0.00237381613529589 -0.0226869436158008 -0.0344454986164681"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358559"
        ixy="3.33117693448146E-08"
        ixz="-3.59480722131376E-06"
        iyy="0.000119866124097028"
        iyz="-4.24915350292352E-07"
        izz="1.48777935696553E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/fr_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0025 -0.005 -0.10288"
      rpy="0 0 0" />
    <parent
      link="fr_thigh" />
    <child
      link="fr_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_shoulder">
    <inertial>
      <origin
        xyz="-0.0229731195760767 0.00308978788806345 0.016723144813423"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.38551705773394E-08"
        ixz="-3.29296835160002E-07"
        iyy="2.60079742804999E-05"
        iyz="7.98874235426911E-07"
        izz="2.03318316394635E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.1854 -0.0175 0.048"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="bl_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_thigh">
    <inertial>
      <origin
        xyz="-0.0015652890875982 0.0293750339010572 -0.0302869631953187"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957822" />
      <inertia
        ixx="7.00348282018167E-05"
        ixy="4.3643577382981E-07"
        ixz="3.01230962502562E-06"
        iyy="6.1177847345146E-05"
        iyz="-7.35240616345448E-06"
        izz="2.10701031177544E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0226 0.0101 0.011125"
      rpy="0 0 0" />
    <parent
      link="bl_shoulder" />
    <child
      link="bl_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_calf">
    <inertial>
      <origin
        xyz="0.00237381613529564 0.022686943617349 -0.0344454986164682"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358573"
        ixy="-3.33117687660497E-08"
        ixz="-3.59480722131376E-06"
        iyy="0.000119866124097027"
        iyz="4.24915357894329E-07"
        izz="1.48777935696697E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/bl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0025 0.005 -0.10288"
      rpy="0 0 0" />
    <parent
      link="bl_thigh" />
    <child
      link="bl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_shoulder">
    <inertial>
      <origin
        xyz="-0.022947156498809 -0.00308978788806343 0.016723144813423"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="-3.38551705773368E-08"
        ixz="-3.2929683516E-07"
        iyy="2.60079742804999E-05"
        iyz="-7.9887423542691E-07"
        izz="2.03318316394635E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.1854 -0.0175 -0.048"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="br_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_thigh">
    <inertial>
      <origin
        xyz="-0.00156528908759812 -0.0293750339010572 -0.0302869631953187"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018167E-05"
        ixy="-4.36435773829806E-07"
        ixz="3.01230962502559E-06"
        iyy="6.11778473451459E-05"
        iyz="7.35240616345447E-06"
        izz="2.10701031177544E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0224 -0.0101 0.011125"
      rpy="0 0 0" />
    <parent
      link="br_shoulder" />
    <child
      link="br_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_calf">
    <inertial>
      <origin
        xyz="0.00237381613529586 -0.0226869436158008 -0.0344454986164686"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358559"
        ixy="3.33117693448149E-08"
        ixz="-3.59480722131376E-06"
        iyy="0.000119866124097028"
        iyz="-4.24915350292363E-07"
        izz="1.48777935696553E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export/meshes/br_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0025 -0.005 -0.10288"
      rpy="0 0 0" />
    <parent
      link="br_thigh" />
    <child
      link="br_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>