<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Harold_URDF_Export_2">
  <link
    name="Body">
    <inertial>
      <origin
        xyz="-0.000505711047275829 -3.92059868626698E-05 0.00655594728550839"
        rpy="0 0 0" />
      <mass
        value="0.655160642240757" />
      <inertia
        ixx="0.000449253338198346"
        ixy="5.00745245411663E-20"
        ixz="-5.96384763775092E-06"
        iyy="0.000956121106102527"
        iyz="1.68220612488198E-21"
        izz="0.00135243908262136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/Body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fl_shoulder">
    <inertial>
      <origin
        xyz="-0.0226268804239233 0.016723144813423 0.00308978788806343"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.29296835160004E-07"
        ixz="-3.38551705773394E-08"
        iyy="2.03318316394635E-05"
        iyz="7.98874235426904E-07"
        izz="2.60079742804999E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.185 -0.04805 0.0175"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="fl_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fl_thigh">
    <inertial>
      <origin
        xyz="0.00156528908759818 -0.0302869631953187 0.0293750339010572"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018166E-05"
        ixy="-3.01230962502561E-06"
        ixz="-4.36435773829808E-07"
        iyy="2.10701031177544E-05"
        iyz="-7.35240616345448E-06"
        izz="6.11778473451459E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.023 0.011125 0.0101"
      rpy="0 0 0" />
    <parent
      link="fl_shoulder" />
    <child
      link="fl_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fl_calf">
    <inertial>
      <origin
        xyz="-0.00237381613529589 -0.034445498616468 0.0226869436173489"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358573"
        ixy="3.59480722131375E-06"
        ixz="3.33117687660539E-08"
        iyy="1.48777935696698E-05"
        iyz="4.24915357894344E-07"
        izz="0.000119866124097028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_calf_joint"
    type="revolute">
    <origin
      xyz="0.00249999999999997 -0.102875 0.00500000000000111"
      rpy="0 0 0" />
    <parent
      link="fl_thigh" />
    <child
      link="fl_calf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_shoulder">
    <inertial>
      <origin
        xyz="-0.022652843501191 0.016723144813423 -0.00308978788806342"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.2929683516E-07"
        ixz="3.38551705773375E-08"
        iyy="2.03318316394635E-05"
        iyz="-7.9887423542691E-07"
        izz="2.60079742804999E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_shoulder_joint"
    type="revolute">
    <origin
      xyz="-0.185 0.04795 0.0175"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="fr_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_thigh">
    <inertial>
      <origin
        xyz="0.00156528908759818 -0.0302869631953186 -0.0293750339010572"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018166E-05"
        ixy="-3.01230962502561E-06"
        ixz="4.3643577382981E-07"
        iyy="2.10701031177544E-05"
        iyz="7.35240616345446E-06"
        izz="6.11778473451459E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0232000000000001 0.011125 -0.0100999999999999"
      rpy="0 0 0" />
    <parent
      link="fr_shoulder" />
    <child
      link="fr_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fr_calf">
    <inertial>
      <origin
        xyz="-0.00237381613529575 -0.0344454986164687 -0.0226869436158008"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358558"
        ixy="3.59480722131375E-06"
        ixz="-3.33117693448154E-08"
        iyy="1.48777935696553E-05"
        iyz="-4.24915350292373E-07"
        izz="0.000119866124097028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/fr_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_calf_joint"
    type="revolute">
    <origin
      xyz="0.0025 -0.102875 -0.00500000000000027"
      rpy="0 0 0" />
    <parent
      link="fr_thigh" />
    <child
      link="fr_calf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_shoulder">
    <inertial>
      <origin
        xyz="0.0229731195760768 0.016723144813423 0.00308978788806344"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.29296835160004E-07"
        ixz="-3.38551705773392E-08"
        iyy="2.03318316394635E-05"
        iyz="7.98874235426902E-07"
        izz="2.60079742804999E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.1854 -0.048 0.0175"
      rpy="1.5708 0 0" />
    <parent
      link="Body" />
    <child
      link="bl_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_thigh">
    <inertial>
      <origin
        xyz="0.00156528908759815 -0.0302869631953187 0.0293750339010572"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018166E-05"
        ixy="-3.01230962502561E-06"
        ixz="-4.36435773829808E-07"
        iyy="2.10701031177544E-05"
        iyz="-7.35240616345447E-06"
        izz="6.11778473451459E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0226 0.011125 0.0101"
      rpy="0 0 0" />
    <parent
      link="bl_shoulder" />
    <child
      link="bl_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bl_calf">
    <inertial>
      <origin
        xyz="-0.00237381613529594 -0.0344454986164687 0.0226869436173489"
        rpy="0 0 0" />
      <mass
        value="0.086445918366481" />
      <inertia
        ixx="0.000124573461358573"
        ixy="3.59480722131374E-06"
        ixz="3.33117687660544E-08"
        iyy="1.48777935696698E-05"
        iyz="4.24915357894347E-07"
        izz="0.000119866124097028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/bl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_calf_joint"
    type="revolute">
    <origin
      xyz="0.00249999999999997 -0.102875 0.00500000000000127"
      rpy="0 0 0" />
    <parent
      link="bl_thigh" />
    <child
      link="bl_calf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_shoulder">
    <inertial>
      <origin
        xyz="0.0229471564988091 0.016723144813423 -0.00308978788806342"
        rpy="0 0 0" />
      <mass
        value="0.0776965557993418" />
      <inertia
        ixx="2.79526765081768E-05"
        ixy="3.2929683516E-07"
        ixz="3.38551705773374E-08"
        iyy="2.03318316394635E-05"
        iyz="-7.98874235426905E-07"
        izz="2.60079742804999E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_shoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_shoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.185399999999999 0.048 0.0175"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Body" />
    <child
      link="br_shoulder" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_thigh">
    <inertial>
      <origin
        xyz="0.00156528908759818 -0.0302869631953186 -0.0293750339010572"
        rpy="0 0 0" />
      <mass
        value="0.0916515025957821" />
      <inertia
        ixx="7.00348282018167E-05"
        ixy="-3.01230962502561E-06"
        ixz="4.36435773829805E-07"
        iyy="2.10701031177544E-05"
        iyz="7.35240616345446E-06"
        izz="6.11778473451459E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0224 0.011125 -0.0101"
      rpy="0 0 0" />
    <parent
      link="br_shoulder" />
    <child
      link="br_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="br_calf">
    <inertial>
      <origin
        xyz="-0.00237381613529569 -0.034445498616468 -0.0226869436158008"
        rpy="0 0 0" />
      <mass
        value="0.0864459183664809" />
      <inertia
        ixx="0.000124573461358558"
        ixy="3.59480722131374E-06"
        ixz="-3.33117693448153E-08"
        iyy="1.48777935696553E-05"
        iyz="-4.24915350292373E-07"
        izz="0.000119866124097028" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Harold_URDF_Export_2/meshes/br_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_calf_joint"
    type="revolute">
    <origin
      xyz="0.0025 -0.102875 -0.00500000000000039"
      rpy="0 0 0" />
    <parent
      link="br_thigh" />
    <child
      link="br_calf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>